.favoriten-list {
  padding: var(--m);
  margin: var(--m);
  background-color: var(--color-grey);
  list-style-type: none;
}

.favoriten-list-item {
  position: relative;
  padding: 10px;
  margin: 5px 0;
  background-color: var(--color-white);
}

.favoriten-list-item > .material-symbols-outlined {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
  color: var(--color-black);
  font-size: 32px;
}

.favoriten-list-item a {
  position: absolute;
  top: 15px;
  left: 50px;
  display: flex;
  max-width: fit-content;
}

.favoriten-list-item > p {
  top: 70px;
  left: 50px;
  padding-left: 42px;
  font-size: var(--s);
}

