html,body{
    font-family: "source-sans-3";
   
}

h1{
    font-size:xx-large;
    font-weight: bold;
}

h2{
    font-size: x-large;
    padding: var(--m);
    font-weight: bold;
}

a{
    color:black;

}

img{
    size: 100%;
}

hr{
    width: 350px;
    border-radius: 50%;
}