

.schreibtisch-list{
    padding: var(--m); 
    margin: var(--m);
    background-color: var(--color-grey); 
    list-style-type: none;
}

.schreibtisch-list-item{ 
    position: relative; 
    padding: 10px;
    margin: 5px 0;
    background-color: var(--color-white);  
}

.schreibtisch-list-item > a {
    position: relative;
    bottom: 12px;
}

.schreibtisch-list-item > .material-symbols-outlined{
    margin-right: var(--m);
    color: var(--color-black);
    font-size: 32px; 
}