
.verlauf {
    padding: var(--m);
    margin-top: var(--m);
   
  }
  
  .cards {
   display: grid;
   gap: 2rem;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  }
  
  .card {
    flex: 1 1 calc(30% - var(--s)); /* Breite der Karten anpassen */
    margin-bottom: var(--s); /* Abstand zwischen den Karten */
    padding:5px;
  }
  
  .card > img {
    width: 100%; /* Bild auf volle Breite der Karte strecken */
    height: auto; /* Höhe automatisch anpassen */
    border-radius: 10px;
  }

  .card > p {
    padding: 5px;

  }
  
  .card > a {
    padding: 5px;
  }
  
