

html,body{
    font-family: "source-sans-3";
}

h1{
    font-size:xx-large;
    font-weight: bold;
}

h2{
    padding:var(--m);
    font-size: x-large;
    font-weight: bold;
}

a{
    color:black;

}

img{
    size: 100%;
}

hr{
    width: 350px;
    border-radius: 50%;
}

.leiste{
    position: absolute;
    top: 10px;
    right: 10px;
    
}

.leiste li {
    display: inline-block;
    max-inline-size: 100vw;
}

.leiste a {
    padding: 5px;
}



@media screen and (max-width:750px) {
   
    .leiste{
        display: none;
        transform: translateX(1000%);
        transition: var(--tr-slow);
    }
    
    .suche{
        display: none;
        transform: translateX(1000%);
        transition: var(--tr-slow);
    }
    
    
    .menu-button{
        position: relative;
        transform: translateX(380px);
        transition: var(--tr-slow);
    }
    
}

@media  screen and (max-width:500px) {
    body {
        display: none !important;
    }
}
